@page "/agenda"

<div class="container">
    <main role="main" class="pb-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-body">
                        <h2>Day #1</h2>
                        <div class="text-body">
                            <table class="table">
                                <tbody>
                                    @foreach (var speaker in LocaleService.CurrentLocale.Speakers)
                                    {
                                        <tr>
                                            <td>
                                                <strong>@speaker.Topic</strong>
                                                &nbsp;-&nbsp;
                                                <a href="#" target="_blank">@speaker.Name</a>
                                                <span>&nbsp;</span>
                                                <p class="time">@speaker.Time</p>
                                                <p class="job-title">@speaker.JobTitle</p>
                                                @foreach (var des in @speaker.Description)
                                                {
                                                    <p>@des</p>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>