@page "/"

<div class="container">
    <div class="container">
        <div class="row flex-md-row">
            <div class="col-md-12">
                <picture>
                    <source media="(min-width: 768px)" srcset="/img/banner.jpg">
                    <img class="img-fluid" src="/img/banner.jpg" alt="hero">
                </picture>
            </div>
            <div class="col-md-12 text-md-center text-center">
                <div class="box h-100 d-flex justify-content-center flex-column">
                    @*<h1>@Config.Conf?.Name</h1>
                    <h2 class="hero">@Config.Conf?.Date @Config.Conf?.City</h2>*@
                    @if (countDown != default)
                    {
                        <div class="row">
                            <div class="col">
                                <div class="countdown">
                                    <div id="counter">
                                        <div class="wrapper-span">
                                            <span id="days" class="number">@countDown.Days</span>
                                            <span class="sub-span">日</span>
                                        </div>
                                        <div class="wrapper-span">
                                            <span id="hours" class="number">@countDown.Hours</span>
                                            <span class="sub-span">时</span>
                                        </div>
                                        <div class="wrapper-span">
                                            <span id="minutes" class="number">@countDown.Minutes</span>
                                            <span class="sub-span">分</span>
                                        </div>
                                        <div class="wrapper-span">
                                            <span id="minutes" class="number">@countDown.Seconds</span>
                                            <span class="sub-span">秒</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                            <div class="col">
                                <div title="" class="addeventatc" id="addeventatc1" aria-haspopup="true" aria-expanded="false" tabindex="0" translate="no" data-loaded="true" style="visibility: visible;">
                                    @Config?.CallToAction?.Text 
                                    @*<span class="start atc_node notranslate">11/10/2020 08:00 AM</span>
                                    <span class="end atc_node notranslate">11/12/2020 5:00 PM</span>
                                    <span class="timezone atc_node notranslate">America/Los_Angeles</span>
                                    <span class="title atc_node notranslate">.NET Conf 2020</span>
                                    <span class="description atc_node notranslate">Tune in for .NET Conf 2020! https://www.dotnetconf.net </span>
                                    <span class="location atc_node notranslate">www.dotnetconf.net</span>*@
                                </div>
                                @*<a href="https://www.facebook.com/events/809642546438816/" target="_blank"><img class="img-fluid" src="/img/Facebook.svg" alt="Facebook event"></a>
                                <a href="https://twitter.com/search?q=%23dotnetconf" target="_blank"><img class="img-fluid" src="/img/Twitter.svg" alt="Join the conversation on Twitter"></a>*@

                            </div>
                        </div>
                </div>
            </div>
            @*<div class="col-md-6 text-md-left text-center">
                <div class="box h-100 d-flex justify-content-center flex-column">
                    <picture>
                        <source media="(min-width: 768px)" srcset="/img/banner.jpg">
                        <img class="img-fluid" src="/img/banner.jpg" alt="hero">
                    </picture>
                </div>
            </div>*@
        </div>
    </div>

    <main role="main" class="pb-3">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <h2>@Config.Conf?.SummaryTitle</h2>
                    </div>
                    <div class="text-body">
                        @foreach (var paragraph in Config.Conf?.Description ?? Array.Empty<string>())
                        {
                            <p>
                                @paragraph
                            </p>
                        }
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col text-center">
                    <img class="img-fluid" src="/img/conference-at-a-glance.svg" alt="Conference at a glance" width="700">
                </div>
            </div>
            <div class="row padded">
                <div class="col">
                    <div class="text-center">
                        <h2>Conference at a glance</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h3>Day one</h3>
                    <p>
                        Day one is all about the big news, .NET 5! Join the .NET team on all the new things you can do with the latest release.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3>Day two</h3>
                    <p>
                        Day two is where we dive deeper into all the things you can do with .NET and our 24 hour broadcast begins.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3>Day three</h3>
                    <p>
                        Day three continues our all day and night broadcast with speakers around the world in their own time zones.
                    </p>
                </div>
            </div>



            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <h2>Featured speakers</h2>
                    </div>
                    <div class="text-center">
                        <p>
                            <a href="/agenda">Check out the agenda!</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row padded">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">-->
            <!-- speaker set-->
            <!--<div class="carousel-item active">
                <div class="container">
                    <div class="row speakerrow">
                        <div class="col-sm speakercolsm">
                            <div class="speaker card-3">
                                <div class="row">
                                    <div class="col-4">
                                        <img class="img-fluid rounded-circle" src="/img/speakers/profile/scott_hanselman.jpg" width="100">
                                    </div>
                                    <div class="col speakercol">
                                        <h3 class="name">Scott Hanselman</h3>
                                        <p>Community Director, .NET</p>
                                        <p><a href="https://twitter.com/shanselman" target="_blank">@@shanselman</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm speakercolsm">
                            <div class="speaker card-3">
                                <div class="row">
                                    <div class="col-4">
                                        <img class="img-fluid rounded-circle" src="/img/speakers/profile/scott_hanselman.jpg" width="100">
                                    </div>
                                    <div class="col speakercol">
                                        <h3 class="name">Scott Hanselman</h3>
                                        <p>Community Director, .NET</p>
                                        <p><a href="https://twitter.com/shanselman" target="_blank">@@shanselman</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm speakercolsm">
                            <div class="speaker card-3">
                                <div class="row">
                                    <div class="col-4">
                                        <img class="img-fluid rounded-circle" src="/img/speakers/profile/scott_hanselman.jpg" width="100">
                                    </div>
                                    <div class="col speakercol">
                                        <h3 class="name">Scott Hanselman</h3>
                                        <p>Community Director, .NET</p>
                                        <p><a href="https://twitter.com/shanselman" target="_blank">@@shanselman</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- speaker set-->
            <!--</div>
                </div>
            </div>


            <div class="row">
                <div class="col text-center">
                    <img class="img-fluid" src="/img/remote-conference.svg" alt="Virtual conference" width="700">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <h2>Celebrating 10 years as a virtual conference</h2>
                    </div>
                    <div class="text-body">
                        <p>
                            .NET Conf has been a virtual event since the beginning, and this year we’re celebrating our 10th online conference.
                            With everything that has happened this year, we know online conferences have become more important than ever.
                            We always have strived to create a world class, engaging, virtual experience for all our attendees no matter where they are.
                        </p>
                        <p>
                            Over the course of the three days we provide a wide selection of live sessions that feature speakers from the community and .NET team members.
                            We have sessions streaming 24/7 between day two and three of the conference so everyone can get involved no matter what their time zone.
                            You can ask questions live on Twitter, join the fun on Twitch, attend the virtual attendee parties where you can play trivia games and win prizes.
                            Best of all, you can take what you learn here and be a better .NET developer.
                        </p>
                    </div>
                </div>
            </div>-->
        </div>
    </main>
</div>

